</main>

<footer>
    <p>Contact us at: <a href="mailto:hrushigawade4@gmail.com">hrushigawade4@gmail.com</a></p>
    <p>&copy; Copyright, All rights reserved. <%= new Date().getFullYear() %></p>
    
       
</footer>

    
</body>
</html>